@page
@model ShopNet.Web.Pages.Admin.Categories.DeleteModel
@{
}


<form method="POST" style="width:40%;">

    <!-- Pass id as hidden field for Delete-->
    <input type="hidden" asp-for="@Model.Category.Id" />

    <div class="border p-3 mt-4">
        <div class="row p-2">
            <h2 class="text-primary pl-3">Delete Category</h2>
            <hr />
            <p>Are you sure you want to Delete this Category?</p>
        </div>

        <!-- Name -->
        <div class="mb-3">
            <label asp-for="@Model.Category.Name"></label>
            <input asp-for="@Model.Category.Name" class="form-control" readonly/>
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px;">Delete</button>
        <a asp-page="Index" class="btn btn-secondary" style="width:150px;">Back</a>
    </div>

</form>