@page
@model ShopNet.Web.Pages.Admin.Categories.IndexModel
@{
}


<div class="container p-3">

    <div class="row p-4">
        <div class="col-6">
            <h2 class="text-primary">Categories</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="Create" class="btn btn-primary"><i class="bi bi-plus-square"></i> &nbsp;Add New Category</a>
        </div>
    </div>
    <br /><br />


    @if (Model.Cagtegories.Count() > 0)
    {

        <table class="table table-bordered table-striped" style="width:100%;">
            <thead>
                <tr>
                    <th>Category Id</th>
                    <th>Category Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Cagtegories)
                {
                    <tr>
                        <td width="30%">@category.Id</td>
                        <td width="50%">@category.Name</td>
                        <td>
                            <div class="w-75 btn-group" role="group">
                                <!--Edit-->
                                <a asp-page="Edit" asp-route-id="@category.Id" class="btn btn-primary mx-2">
                                    <i class="bi bi-pencil-square"></i>
                                </a>
                                <!--Delete-->
                                <a asp-page="Delete" asp-route-id="@category.Id" class="btn btn-danger mx-2">
                                    <i class="bi bi-trash-fill"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p class="text-primary">No Data Found!</p>
    }

</div>



